<div class="jumbotron">
  <h1>Wistia Upload Component</h1>
  <p class="lead">
    An Angular component (not directive!) that wraps the Wistia uploader.
</p>
  <p><a class="btn btn-lg btn-success" ng-href="#/wistia">Demo</span></a></p>
</div>

<div class="row marketing">
  The component should work like this:
  <ul>
    <li>You click an upload button.
    <li>You pick a file.
    <li>The widget uploads the file to Wistia, showing progress in a progress bar of some sort (can be from Bootstrap).</li>
    <li>Once the file completes uploading, it shows as an embedded Wistia video player.</li>
    <li>The component must use Angular 1. Please do not use Angular 2+ or your test will not be reviewed.</li>
    <li>The component must use ES5. Do not use ES6 or your test will not be reviewed.</li>
    <li>The component should have unit tests.</li>
  </ul>
</div>
